@import './../../../styles/variable.scss';

.root {
    height: 1rem;
    background: #fff;
    border-top: 1px solid #f5f5f5;
}

.iconOne,
.iconTwo,
.iconThree,
.iconFour {
    color: $main-color;
    &:link,
    &:focus,
    &:active {
        color: $main-color;
    }
}

.iconOne i:before{
    content: '\e905';
}

.iconTwo i:before{
    content: '\e901';
}

.iconThree i:before{
    content: '\e907';
}

.iconFour i:before{
    content: '\e903';
}