{
    "presets":[
        ["latest",{
            "es2015": {
                "loose": true
            }
        }],
        "react",
        "stage-0"
    ],
    "plugins":[
        ["transform-runtime",{
            "helpers": false,
            "polyfill": true,
            "regenerator": true,
            "modulename": "babel-runtime"
        }],
        ["import",{
            "style": "css",
            "libraryName": "antd-mobile"
        }]
    ]
}