@import './../../../../styles/variable.scss';

.root{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    align-items: center;
    line-height: 1;
    color :#666;
    &:hover{
        color: $main-color;
    }
}

.icon{
    display: block;
    font-size: 0.45rem;
    margin-bottom: 0.1rem;
}

.text{
    display: block;
    line-height: 1;
}